<!--The content below is only a placeholder and can be replaced.-->
<div class="wrapper">
<div class="main-header">
        <div class="logo-header">
            <a href="index.html" class="logo">
                Ready Dashboard
            </a>
            <button class="navbar-toggler sidenav-toggler ml-auto" type="button" data-toggle="collapse" data-target="collapse" aria-controls="sidebar" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <button class="topbar-toggler more"><i class="la la-ellipsis-v"></i></button>
        </div>
        <nav class="navbar navbar-header navbar-expand-lg">
            <div class="container-fluid">
  AAParser
                </div>
            </nav>
        </div>

        <app-nav-bar></app-nav-bar>
<div class="main-panel">
        <div class="content">
            <div class="container-fluid">
                
<router-outlet></router-outlet>		
</div>
</div>
</div>
</div>
