

  <div class="rowHead" >
							
      <div class="col-md-5" >
        <div class="card card-stats">
          <div class="card-body " routerLink = "/uploadTemplate" >
            <div class="row">
                <div class="col-5">
                  <div class="icon-big text-center">
                    <i class="la la-upload"></i>
                  </div>
                </div>
                <div class="col-7 d-flex align-items-center">
                  <div class="numbers">
                   
                    <h4 class="card-title">Upload</h4>
                  </div>
                </div>
              </div>
          </div>
        </div>
      </div>
      
      <div class="col-md-5" >
          <div class="card card-stats">
            <div class="card-body " routerLink = "/statictics" >
              <div class="row">
                  <div class="col-5">
                    <div class="icon-big text-center">
                      <i class="la la-bar-chart"></i>
                    </div>
                  </div>
                  <div class="col-7 d-flex align-items-center">
                    <div class="numbers">
                     
                      <h4 class="card-title">Statistics</h4>
                    </div>
                  </div>
                </div>
            </div>
          </div>
        </div>

    </div>